.header {
	position: absolute;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: auto;
	padding-top: 40px;

	.logo {
		margin-left: 20px;
		a {
			img {
				height: 42px;
			}
		}
	}

	.navbar {
		display: flex;
		flex-basis: 57%;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(40.7742px);
		height: 96px;
		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			list-style: none;
			margin: 0 25px 0 0;
			padding: 0;

			li {
				margin-left: 50px;
				font-size: 16px;
				a {
					font-family: "Barlow Condensed";
					font-style: normal;
					font-weight: 400;

					line-height: 19px;
					letter-spacing: 2.7px;
					text-transform: uppercase;
					color: #ffffff;

					&:before {
						content: "";
						position: absolute;
						bottom: -4px;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: #ffffff;
						transform: scaleX(0);
						transition: all 0.3s ease-in-out;
						transform-origin: center center;
					}

					&:hover:before,
					&:focus:before {
						transform: scaleX(1);
					}

					span {
						margin-right: 0.2rem;

						color: #fff;
					}
				}
			}
		}

		@media (max-width: 768px) {
			display: none;

			&.active {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100vh;
				background: rgba(255, 255, 255, 0.04);
				backdrop-filter: blur(40.7742px);

				ul {
					flex-direction: column;
					margin: 8rem 0 0 0;

					padding: 2rem 0;

					li {
						margin: 0;
						padding: 1.2rem 0;

						a {
							font-size: 1.5rem;
							color: white;

							&:hover,
							&:focus {
								color: #d0d6f9;
							}

							&:before {
								background: rgba(255, 255, 255, 0.04);
								backdrop-filter: blur(40.7742px);
							}
						}
					}
				}
			}
		}
	}

	.hamburger {
		display: none;

		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 25px;
			padding-bottom: 5px;

			.menu-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				border: none;
				cursor: pointer;
				outline: none;
				padding: 0;

				img {
					height: 28px;
					width: auto;
					transition: all 0.3s ease-in-out;

					&.active {
						transform: rotate(90deg);
					}
				}
			}
		}
	}

	@media (max-width: 1079px) {
		.navbar {
			span {
				display: none;
			}
		}
	}

	@media screen and (max-width: 530px) {
		padding-top: 20px;
	}
}
